.condition-container {
  display: flex;
  gap: 1rem;

  .connection {
    align-self: center;
  }

  .remove-attribute-action {
    display: none;
  }
}

.condition-container:hover > .remove-attribute-action {
  display: block;
}
